<%= link_to "ジャンル登録・編集", new_genre_path, class: "Editlink2" %>
  <div class='row'>
    <div class='col-lg-6'>

      <h5>自分の投稿一覧</h5>
      <%= render 'post_images/index',post_images: @post_images %>
    </div>
    <div class='col-lg-6'></div>
  </div>
