 <div class="row">
    <div class="col-lg-2">
      <table  class="table">
        <thead class="thead-light">
          <tr>
            <th>MENU</th>
          </tr>
        </thead>
        <tbody>
          <!--<tr><td><%= link_to "マイページ", user_path %></td></tr>-->
          <tr><td>お洋服の登録</td></tr>
          <tr><td>クローゼット</td></tr>
          <tr><td>今日のお洋服</td></tr>
          <tr><td>みんなの服装</td></tr>
          <tr><td>設定</td></tr>
          <tr><td>ヘルプ</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>