<div class = "container">
  <div class="row, text-center">
    <div class="about">

      <strong>この服いいな！家にあるあの服と合いそう!<br>
         でも去年買った服だし、サイズはまだ平気だったっけ…？<br>
         <br>
         一目惚れした洋服、せっかくだし誰かに見せたいな。<br>
         子供の新しい洋服を買いたいけど、<br>
         気づいたらいつも同じようなものばかりだな。<br>
         <br>
         これは、ズボラが贈る洋服管理&共有サイトです！</strong>

      <%= image_tag "home.jpg", class:"", :size => "900x600"%>
      </div>
  </div>
</div>
