<div class = "container">
  <div class="row, text-center">
    <div class="about">

      <strong>去年買った服、サイズはまだ平気かな…？<br>
         この服いいな！家にあるあの服と合いそう!<br>

         これは、ズボラによるズボラのための洋服管理サイトです！</strong>

      <%= image_tag "home.jpg", class:"", :size => "900x600"%>
      </div>
  </div>
</div>
