/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #898989;
  font-family: "Hannotate SC";
  text-align: center;
}

header {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  background-color: #fed8de;


}
header .heading {
  font-size: 15px;
}

.nav-list {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: solid 1px #fed8de;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

main {

   min-height: 600px;
  // display: flex;
  // justify-content: center;
  margin: 0 auto;
}


#notice {
  color: green;
}
#message {
  color: red;
}

#error_explanation {
  color: red;
}


footer {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #fed8de;
  color: #fc5e5d;
}

// .nav-greeting {
//   text-align: left;
// }

.nav-list-item {
  color: #fc5e5d;
}

.Editlink1 {
  color: #fc5e5d;
}
.Editlink2 {
  color: #d874e4;
}

.about {
  position: relative;
}

.about strong {
    position: absolute;
    top: 200px;
    left: 350px;
    text-size: 15px;
}

// 洋服一覧のタブ
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #ffb3be;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  opacity: 0;
  display: inline-flex;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
	white-space: nowrap;
}
.tab-switch:checked+.tab-label {
  background: #ffb3be;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;

}
.tab-switch {
  display: none;
}

.list-group {
  background-color: #fed8de;
  border: 2px #ff84c1 dashed;
  color: #898989;
}

.list-group-item {
  color: #ff84c1;
  text-align: left;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #f19ca7;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #e95464;
    color: #fff;
}

.btn-primary.outline {
    border: 3px solid  #f19ca7;
    color: #fff;
}

.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}


.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  right : 0;
  color: #fff;
  background: #898989;
  text-align: center;
  width: 20%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}


nav.globalMenuSp.active {
  opacity: 100;
}

.ribbonlabel {
  display: inline-block;
  margin: 5px;
  position: relative;
  height: 30px;/*高さ*/
  line-height: 30px;/*高さ*/
  text-align: center;
  padding: 0 20px 0 9px;/*文字の左右の余白*/
  font-size: 18px;/*文字サイズ*/
  background: #ffccd4;/*背景色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
}

.ribbonlabel:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbonlabel:after {
  top: 0;
  right: 0;
  border-width: 15px 7px 15px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}
